body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20;
    padding-left: 25px;
}

h2 {
    color: #3E8EDE;
    padding-left: 20px;
    display: flex;
    font-size: 30;

}

#menuBar {
    width: 100%;
    left: -10%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #646464;
    padding-bottom: 25px;
    display: flex;
}

.flex-parent {
    display: flex;
    width: 100%;
}

.flex-child {
    flex: 1;
    margin: 5px;
}

.topnav {
    display: flex;
    /* justify-content: flex-end; */
    /* background-color: #333; */
    color: white;
    padding: 20px;
    padding-left: 50%;
}

.topnav a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3E8EDE; 
    color: white; 
    border-radius: 10px; 
    margin-right: 10px;
}

.formButtons {
    top: 10%;
    padding: 10px 20px;
    background-color: #3E8EDE; 
    color: white; 
    border-color: #3E8EDE;
    border-radius: 10px; 
    text-decoration: none;
    box-shadow: none;
}

#reset  {
    border-color: #646464;
    background-color: #646464;
    left: 200px;
    top: 10%;
    padding: 10px 20px;
    color: white; 
    border-radius: 10px; 
    text-decoration: none;
    box-shadow: none;
}

.dfd {
    padding-top: 30px;
}

